<div class="grid grid-nogutter justify-content-end m-4 mr-7"> 
    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="openEditModal()"></button>
</div>
           
<p-confirmPopup></p-confirmPopup>     
<p-card header="Usuarios" > 
    <p-table [value]="usuarios" [scrollable]="true" scrollHeight="800px">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data Nascimento</th>
                <th>Escolaridade</th>
                <th style="max-width:200px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.nome + ' ' + usuario.sobreNome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                <td>{{getEscolaridade(usuario.escolaridade)}}</td>
                <td style="max-width:200px">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="openEditModal(usuario)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="excluir(usuario)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>