


<p-card>
     
    <h1>As seguintes tecnologias foram utilizadas no projeto:</h1>

    <ul>
        <li>Angular 14
            <ul>
                <li> PrimeNg </li>
                <li> PrimeFlex v3</li>
                <li> Interceptors (errorCatching)</li> 
            </ul>
        </li>

        <li>.Net Core 5 
            <ul>
                <li> DDD </li>
                <li> EF Migration</li> 
                <li> PRM Notification Pattern</li>  
            </ul>
        </li>
        <li>SQL Server 2019</li> 
    </ul>
    <div class="mt-7">

        <a  href="https://github.com/murillogplay/Confitec_Frontend"  class="ml-7" target="_blanc"><i class="pi pi-github"> Frontend</i></a> 
        <a  href="https://github.com/murillogplay/Confitec_Backend" class="ml-7" target="_blanc"><i class="pi pi-github"> Backend </i></a> 
    </div>

</p-card>