<p-card> 
    
<div class="formgrid grid p-fluid">
    <div class="field col-4">  
        <h5>Nome</h5>
        <input class="w-full" type="text" pInputText [(ngModel)]="usuario.nome">  
    </div>

    <div class="field col-8"> 
        <h5>Sobrenome</h5>
        <input class="w-full" type="text" pInputText [(ngModel)]="usuario.sobreNome">  
    </div>

    <div class="field col-12"> 
        <h5>E-mail</h5>
        <input class="w-full" type="email" pInputText [(ngModel)]="usuario.email">  
    </div>

    <div class="field col-6"> 
        <h5>Data Nascimento</h5>
        <p-calendar class="w-full" appendTo="body" [(ngModel)]="usuario.dataNascimento" dateFormat="dd/mm/yy" [maxDate]="maxDate" [readonlyInput]="true" inputId="date"> 
        </p-calendar>
    </div>

    <div class="field col-6"> 
        <h5>Escolaridade</h5>
        <p-dropdown class="w-full" appendTo="body" [options]="escolaridades" [(ngModel)]="usuario.escolaridade" ></p-dropdown>
    </div>

</div>
 
</p-card>  
    <div class="grid grid-nogutter justify-content-end mt-4"> 
        <button pButton pRipple label="Cancelar" icon="pi pi-save" class="p-button-raised p-button-secondary min-w mr-4" (click)="sair()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-save" class="p-button-raised p-button-success min-w" (click)="salvar()"></button>
  </div>